body {
  background-color: lightgrey;
}

a {
  font-size: 15pt;
}

h1 {
  font-size: 40pt;
  color: red;
  text-align: center;
}

h2 {
  font-size: 32pt;
  color: green;
  text-align: center;
}

button {
  background-color: blue;
  color: white;
  padding: 10pt 15pt;
  font-size: 16pt;
  border-radius: 5pt;
  margin-right: 5pt;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10pt 15pt;
  font-size: 16pt;
  border-radius: 5pt;
}

strong {
  font-size: 15pt;
}
