{% extends "base.html" %}
{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>CONGO</h1>
    <h2>Checkout</h2>

    <p><strong>Shipping to:</strong> {{ user.realname }}, {{ user.mailingaddress }}</p>

    {% for item, details in cart.items() %}
        <p>{{ item }} - <strong>Quantity:</strong> {{ details.quantity }}</p>
    {% endfor %}

    <h3>Total = ${{ total }}</h3>

    <form method="POST" action="{{ url_for('complete_checkout') }}">
        <input type="submit" value="Complete Checkout">
    </form>

    <br>
    <a href="{{ url_for('show_items') }}">Continue Shopping</a>
{% endblock %}
