{% extends "base.html" %}
{% block title %}Order Confirmed{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="text-center text-primary fw-bold">Thank You for Your Order! 🎉</h1>
    <p class="lead">Your package is on its way. Get ready! 🚀</p>

    <!--Rocket Animation -->
    <div class="rocket-confetti">
      {% for _ in range(100) %}
      <img src="{{ url_for('static', filename='img/rocketship.png') }}" class="rocket" alt="Rocket">
      {% endfor %}
    </div>

    <a href="{{ url_for('show_items') }}" class="btn btn-outline-secondary btn-lg">
        <i class="bi bi-cart"></li>Continue Shopping
    </a>
  </div>
{% endblock %}
