{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}

{% block content %}
    <h2>Shopping Cart</h2>

    {% for item, details in cart.items() %}
        <p>{{ item }} - <strong>Quantity:</strong> {{ details.quantity }} - 
        <strong>Price per unit:</strong> ${{ details.price }} - 
        <strong>Total:</strong> ${{ details.quantity * details.price }}</p>

        <form method="POST" action="{{ url_for('remove_item_from_cart') }}">
            <input name="item-name" type="hidden" value="{{ item }}">
            <input type="submit" value="Remove">
        </form>
    {% endfor %}

    <h3>Cart Total: ${{ total }}</h3>

    <a href="{{ url_for('show_items') }}">Continue Shopping</a>
    <br>
    <a href="{{ url_for('show_checkout') }}">Proceed to Checkout</a>
{% endblock %}
