{% from "user_macros.html" import user_head, menu_buttons %}

<!doctype html>
<html>
  <head>
    {{user_head("User Information for " + user.username)}} {{menu_buttons()}}
  </head>

  <body>
    <h1>CONGO</h1>

    <h2>User Information</h2>

    <strong>Username:</strong> {{user.username}}<br />
    <strong>Real name:</strong> {{user.realname}}<br />
    <strong>Email:</strong> {{user.email}}<br />
    <strong>Mailing Address: </strong> {{user.mailingaddress}}<br />
    <strong>Credit Card: </strong> {{user.creditcard}}
  </body>
</html>
